.toDo-item {
  width: 200px;
  height: 300px;
  padding: 10px;
  background: rgba(yellow, .5);
  font-size: 18px;
  line-height: 1.3;
}
.type-high {
  background: rgba(red, .5);
}
.type-special {
  background: rgba(green, .5);
}
